@model BookStore.ViewModels.PublisherBooks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Publisher</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Publisher.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Publisher.Name)
                    </dd>
                </dl>
            </div>
            <div class="col">
                <h3>Books</h3>
                <ul>
                    @foreach (var book in Model.Books)
                    {
                        <li>@book.Title</li>
                    }
                </ul>
            </div>
        </div>
        
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Publisher.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
